

body {
  background-color: #f5f5f5;
}
.container {
  background-color: #f6f6f6;
  box-shadow: rgb(218, 218, 218) 0px 0.15rem 0.5rem;
  padding: 2rem; 
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgb(8, 53, 32);
  animation: cardEntrance 1000ms ease-out;
  animation-fill-mode: backwards;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(5px) scale(1.05);
}
@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(90deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.photo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(240px, 1fr);
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.image{
  height: 500px;
}
.desc{
  display: flex;
  flex-direction: column;
}
.upload-form{
  padding: 1em;
}

/* image_page css starts here */

.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 25vh 25vh auto auto;
  background-color: #cfcfcf;
  padding: 10px;
  margin: auto;
  
  grid-template-areas: 
  'photo download '
  'photo tags '
  'details vote '
  'comments comments ';
  grid-gap: 10px;
}

.grid-container > div {

  background-color: #f1f1f1;
  font-size: 20px;
  text-align: center;
}

.photo-item {
  grid-area: photo;
}

.download-item {
  grid-area: download;

}
.tag-item {
  grid-area: tags;
}

.comment-item {
  grid-area: comments;

}

.details-item {
  grid-area: details;
}

.vote-item {
  grid-area: vote;

}

/* image_page css ends here */