body {
	background-color: #f5f5f5;
}
.container {
	background-color: #f6f6f6;
	box-shadow: rgb(218, 218, 218) 0px 0.15rem 0.5rem;
	padding: 2rem;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #353535;
	font-size: 3rem;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	background-color: rgb(8, 53, 32);
	animation: cardEntrance 1000ms ease-out;
	animation-fill-mode: backwards;
}

.card:hover {
	box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
	transform: translateY(5px) scale(1.05);
}
@keyframes cardEntrance {
	from {
		opacity: 0;
		transform: scale(0.3);
		filter: hue-rotate(90deg);
	}
	to {
		opacity: 1;
		transform: scale(1);
		filter: hue-rotate(0deg);
	}
}

.photo-grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: minmax(240px, 1fr);
}

@media screen and (min-width: 600px) {
	.card-tall {
		grid-row: span 2 / auto;
	}

	.card-wide {
		grid-column: span 2 / auto;
	}
}

.image {
	height: 500px;
}
.desc {
	display: flex;
	flex-direction: column;
}
.upload-form {
	padding: 1em;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}
.modal-content {
	background-color: #2f2f2f;
	margin: 5% auto 15% auto;
	border: 1px solid #4cdf50;
  width: 25%;
}
input[type=text],
input[type=password] {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.icontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}
.fcontainer {
	color: #f2f2f2;
  padding: 16px;
}
button {
	background-color: #4cdf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 15px;
}
button:hover {
	opacity: 0.8;
}
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f84336;
}
span.pwd {
	float: right;
	padding-top: 16px;
}
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: gray;
	cursor: pointer;
}
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}
@keyframes animatezoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@media screen and (max-width: 300px) {
	span.pwd {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
