{% extends 'galleria/main.html' %}
{% load static %}

{% block content %}
    {{testi}}
    <div class="photo-grid">
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
        <div class="card" style="background-image:url({% static 'galleria/kissa.jpg' %})"></div>
    </div>
{% endblock content %}