{% extends 'galleria/main.html' %}
{% load static %}

{% block content %}

{% if user.username == image.user.username%}
<form method="post">{% csrf_token %}<button name='delete' class='delete-btn' type="submit">Poista</button></form>
{% endif %}


<div class="grid-container">
    <div class="photo-item"><img src={{image.imageURL}} class='photo-item-image' /></div>
    <div class="download-item">Download links<br><a href='{{ MEDIA_URL }}{{ image.imageURL }}'>Original</a>
        {% if image.full_hd %}
            <a href='{{ MEDIA_URL }}{{ image.fullhdURL }}'>Full HD</a>
        {% else %}
            <div>No full hd picture available</div>
        {% endif %}</div>
    
    <div class="details-item">Name: {{image.title}} <br> Upload Date: {{image.date}}</div>
    

    <div class="vote-item">
        {% if user == image.user or user == 'AnonymousUser' or not user.is_authenticated  %}
            <img  class='' src="{% static 'galleria/thumbs_up.png' %}" alt="">
        {% else %}
            <form method='post' >{% csrf_token %}
                <button name='vote' type='submit' class='no-styling'>
                    <img  class='hover' src="{% static 'galleria/thumbs_up.png' %}" alt="">
                </button>
            </form>
        {% endif %}
        Upvotes: {{image.rating}}
    </div>
</div>

{% endblock content %}