{% extends 'galleria/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div class='profile-main'>
        <h2>{{user}} - Profile page</h2>
        <div class='statistics'>
            <div>Images: {{images|length}}</div>
            <div>Likes: {{likes}}</div>
            <div>Views: {{views}}</div>
        </div>
        
    </div>

    {% for folder in folders %}
    <h3 id=''>/{{folder}}</h3>
    <div class="profile-photo-grid">
        {% for image in images %}
        {% if image.subfolder == folder %}
        <div class="card" style="background-image:url({{image.thumbnailURL}})">
            <a class='image-link' href="{% url 'imagepage' image.id %}"></a>
        </div>
        {% endif %}

        {% endfor %}
    </div>
    {% endfor %}

</div>

{% endblock content %}