{% extends 'galleria/main.html' %}
{% load static %}

{% block content %}
<h2>Search results</h2>
<div class="photo-grid" id='pg-frontpage'>
    {% if images|length != 0 %}
    {% for image in images %}
            <div class="card" style="background-image:url({{image.thumbnailURL}})">
                <strong>{{image.title}}</strong>
                <a class='image-link' href="{% url 'imagepage' image.id %}"></a>
            </div>
    {% endfor %}
    {% else %}
    <div>Ei hakutuloksia</div>
    {% endif %}
    
</div>

{% endblock content %}